@font-face {
  font-family: Raleway;
  src: url(../assets/fonts/Raleway-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body li {
  list-style: none;
}

body h1 {
  font-size: 5rem;
}

body h2 {
  font-size: 2rem;
}

body h3 {
  font-size: 1.5rem;
}

body p {
  font-size: 1rem;
}

body a {
  color: transparent;
  -webkit-text-decoration: transparent;
          text-decoration: transparent;
}

.scrollTop {
  position: fixed;
  height: 35px;
  width: 35px;
  bottom: 50px;
  right: 50px;
  z-index: 5;
}

.scrollTop img {
  color: #ffffff;
}

.scrollTop:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  .scrollTop {
    height: 25px;
    width: 25px;
    bottom: 25px;
    right: 25px;
  }
}

header {
  height: 100vh;
  color: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

header #header {
  margin-bottom: 100px;
}

header #divPresentation {
  -webkit-animation: launchAnim 2s forwards;
          animation: launchAnim 2s forwards;
}

header #divPresentation h1 {
  margin: 0;
}

header .networks {
  -webkit-animation: launchAnim 2s forwards;
          animation: launchAnim 2s forwards;
}

header .networks img {
  margin: 0 10px;
  height: 30px;
  width: 30px;
}

header .networks img:hover {
  cursor: pointer;
}

header input[type="button"] {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#f6877c), color-stop(#ff8f70), color-stop(#ee7562), color-stop(#f06a65), to(#f15e6b));
  background-image: linear-gradient(to right top, #f6877c, #ff8f70, #ee7562, #f06a65, #f15e6b);
  color: #ffffff;
  padding: 15px 50px;
  margin-top: 50px;
  border: 0px;
  border-radius: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: launchAnim 2s forwards;
          animation: launchAnim 2s forwards;
}

header input[type="button"]:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 20px #ea5863;
          box-shadow: 0 0 20px #ea5863;
}

@-webkit-keyframes launchAnim {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes launchAnim {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

header #arrow-down {
  position: absolute;
  bottom: 25px;
  left: 50%;
  height: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: launchAnim2 2s forwards;
          animation: launchAnim2 2s forwards;
}

@-webkit-keyframes launchAnim2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 300px);
            transform: translate(-50%, 300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, x0px);
            transform: translate(-50%, x0px);
  }
}

@keyframes launchAnim2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 300px);
            transform: translate(-50%, 300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, x0px);
            transform: translate(-50%, x0px);
  }
}

#skillsSection {
  height: 100vh;
}

#skillsSection .container {
  margin-top: 2em;
  color: #ffffff;
}

#skillsSection .title-skills {
  font-size: 2em;
  margin-top: 4em;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  margin: 4rem auto;
  text-align: center;
}

#skillsSection .bar {
  width: 50%;
  margin: 2em auto;
}

@media (max-width: 1000px) {
  #skillsSection .bar {
    width: 60%;
  }
}

#skillsSection .skill {
  font-size: 0.8em;
  text-transform: uppercase;
  margin-bottom: 0.25em;
}

#skillsSection .speech-bubble {
  font-size: 0.75em;
  line-height: 2em;
  position: absolute;
  top: -2.7em;
  text-align: center;
  min-width: 3em;
  border-radius: 0.3em;
}

#skillsSection .html {
  left: calc(80% - 1.5em);
}

#skillsSection .jquery {
  left: calc(70% - 1.5em);
}

#skillsSection .fluent {
  left: calc(50% - 1.5em);
}

#skillsSection .photo,
#skillsSection .illustrator,
#skillsSection .indesign {
  left: calc(30% - 1.5em);
}

#skillsSection .sketch {
  left: calc(40% - 1.5em);
}

#skillsSection .adoxd {
  left: calc(100% - 1.5em);
}

#skillsSection .speech-bubble:after {
  border: 0.5em solid transparent;
  content: "";
  margin-left: -0.5em;
  position: absolute;
  top: 100%;
  left: 50%;
}

#skillsSection .bar-outer {
  height: 1.25em;
  background: #eeeeee;
  position: relative;
  border-radius: 0.3em;
}

#skillsSection .bar-inner {
  width: 0;
  height: 1.25em;
  border-radius: 0.3em;
}

#skillsSection .ht,
#skillsSection .jq,
#skillsSection .sk,
#skillsSection .ph,
#skillsSection .il,
#skillsSection .in,
#skillsSection .fl,
#skillsSection .xd {
  background: #f89d94;
}

#skillsSection .ht {
  width: 80%;
}

#skillsSection .jq {
  width: 70%;
}

#skillsSection .sk {
  width: 40%;
}

#skillsSection .ph,
#skillsSection .il,
#skillsSection .in {
  width: 30%;
}

#skillsSection .fl {
  width: 50%;
}

#skillsSection .xd {
  width: 100%;
}

#skillsSection .html,
#skillsSection .jquery,
#skillsSection .sketch,
#skillsSection .photo,
#skillsSection .illustrator,
#skillsSection .indesign,
#skillsSection .fluent,
#skillsSection .adoxd {
  background: #f6877c;
}

#skillsSection .html:after,
#skillsSection .jquery:after,
#skillsSection .sketch:after,
#skillsSection .photo:after,
#skillsSection .illustrator:after,
#skillsSection .indesign:after,
#skillsSection .fluent:after,
#skillsSection .adoxd::after {
  border-top-color: #f6877c;
}

#sectionContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  position: relative;
}

#sectionContact h2 {
  color: #ffffff;
  margin: 0 auto;
  padding: 50px 0;
}

#sectionContact #formContact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sectionContact #formContact form input,
#sectionContact #formContact form textarea {
  margin: 15px 0;
  padding: 20px;
  width: 30%;
  border-radius: 20px;
  border: none;
  resize: none;
}

#sectionContact #formContact form input:focus-visible,
#sectionContact #formContact form textarea:focus-visible {
  outline: none;
  border: none;
  -webkit-box-shadow: 0 0 20px #ffffff;
          box-shadow: 0 0 20px #ffffff;
}

#sectionContact #formContact form button {
  margin: 15px 0;
  padding: 15px;
  width: 10%;
  border-radius: 20px;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#sectionContact #formContact form button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 20px #ffffff;
          box-shadow: 0 0 20px #ffffff;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: -10;
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  -webkit-filter: drop-shadow(0 0 6px currentColor);
          filter: drop-shadow(0 0 6px currentColor);
  -webkit-transform: translate3d(104em, 0, 0);
          transform: translate3d(104em, 0, 0);
  -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
          animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
  .star {
    -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
            animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}

.star:nth-child(1) {
  --star-tail-length: 6.01em;
  --top-offset: 16.81vh;
  --fall-duration: 7.166s;
  --fall-delay: 2.144s;
}

.star:nth-child(2) {
  --star-tail-length: 5.57em;
  --top-offset: 72.87vh;
  --fall-duration: 9.665s;
  --fall-delay: 7.779s;
}

.star:nth-child(3) {
  --star-tail-length: 5.41em;
  --top-offset: 59.21vh;
  --fall-duration: 11.386s;
  --fall-delay: 7.625s;
}

.star:nth-child(4) {
  --star-tail-length: 5.03em;
  --top-offset: 54.17vh;
  --fall-duration: 11.246s;
  --fall-delay: 4.783s;
}

.star:nth-child(5) {
  --star-tail-length: 5.13em;
  --top-offset: 24.18vh;
  --fall-duration: 9.178s;
  --fall-delay: 3.883s;
}

.star:nth-child(6) {
  --star-tail-length: 6.44em;
  --top-offset: 44.54vh;
  --fall-duration: 11.279s;
  --fall-delay: 3.286s;
}

.star:nth-child(7) {
  --star-tail-length: 6.75em;
  --top-offset: 79.25vh;
  --fall-duration: 8.983s;
  --fall-delay: 1.819s;
}

.star:nth-child(8) {
  --star-tail-length: 6.39em;
  --top-offset: 25.65vh;
  --fall-duration: 8.993s;
  --fall-delay: 0.713s;
}

.star:nth-child(9) {
  --star-tail-length: 7.37em;
  --top-offset: 9.53vh;
  --fall-duration: 10.587s;
  --fall-delay: 0.863s;
}

.star:nth-child(10) {
  --star-tail-length: 7.12em;
  --top-offset: 49.03vh;
  --fall-duration: 9.686s;
  --fall-delay: 9.268s;
}

.star:nth-child(11) {
  --star-tail-length: 7.47em;
  --top-offset: 34.67vh;
  --fall-duration: 10.35s;
  --fall-delay: 2.095s;
}

.star:nth-child(12) {
  --star-tail-length: 6.12em;
  --top-offset: 88.05vh;
  --fall-duration: 9.416s;
  --fall-delay: 6.462s;
}

.star:nth-child(13) {
  --star-tail-length: 6.75em;
  --top-offset: 68.96vh;
  --fall-duration: 9.54s;
  --fall-delay: 6.282s;
}

.star:nth-child(14) {
  --star-tail-length: 5.09em;
  --top-offset: 26.81vh;
  --fall-duration: 6.905s;
  --fall-delay: 6.31s;
}

.star:nth-child(15) {
  --star-tail-length: 6.59em;
  --top-offset: 15.27vh;
  --fall-duration: 8.488s;
  --fall-delay: 2.372s;
}

.star:nth-child(16) {
  --star-tail-length: 5.39em;
  --top-offset: 84.96vh;
  --fall-duration: 8.208s;
  --fall-delay: 6.134s;
}

.star:nth-child(17) {
  --star-tail-length: 6.4em;
  --top-offset: 95.17vh;
  --fall-duration: 10.201s;
  --fall-delay: 0.416s;
}

.star:nth-child(18) {
  --star-tail-length: 7.02em;
  --top-offset: 0.62vh;
  --fall-duration: 7.473s;
  --fall-delay: 6.742s;
}

.star:nth-child(19) {
  --star-tail-length: 6.08em;
  --top-offset: 31.67vh;
  --fall-duration: 10.322s;
  --fall-delay: 1.038s;
}

.star:nth-child(20) {
  --star-tail-length: 6.18em;
  --top-offset: 65.36vh;
  --fall-duration: 9.607s;
  --fall-delay: 4.39s;
}

.star:nth-child(21) {
  --star-tail-length: 5.07em;
  --top-offset: 79.72vh;
  --fall-duration: 9.033s;
  --fall-delay: 1.674s;
}

.star:nth-child(22) {
  --star-tail-length: 5.56em;
  --top-offset: 22.3vh;
  --fall-duration: 6.734s;
  --fall-delay: 7.789s;
}

.star:nth-child(23) {
  --star-tail-length: 7.35em;
  --top-offset: 30.8vh;
  --fall-duration: 6.234s;
  --fall-delay: 4.965s;
}

.star:nth-child(24) {
  --star-tail-length: 7.16em;
  --top-offset: 64.87vh;
  --fall-duration: 9.551s;
  --fall-delay: 3.986s;
}

.star:nth-child(25) {
  --star-tail-length: 6.31em;
  --top-offset: 87vh;
  --fall-duration: 11.429s;
  --fall-delay: 3.231s;
}

.star:nth-child(26) {
  --star-tail-length: 5.92em;
  --top-offset: 95.38vh;
  --fall-duration: 7.324s;
  --fall-delay: 2.926s;
}

.star:nth-child(27) {
  --star-tail-length: 5.98em;
  --top-offset: 70.28vh;
  --fall-duration: 11.034s;
  --fall-delay: 9.669s;
}

.star:nth-child(28) {
  --star-tail-length: 6.59em;
  --top-offset: 93.36vh;
  --fall-duration: 11.392s;
  --fall-delay: 8.049s;
}

.star:nth-child(29) {
  --star-tail-length: 5.72em;
  --top-offset: 80.12vh;
  --fall-duration: 8.239s;
  --fall-delay: 7.476s;
}

.star:nth-child(30) {
  --star-tail-length: 6.4em;
  --top-offset: 9.37vh;
  --fall-duration: 7.698s;
  --fall-delay: 4.631s;
}

.star:nth-child(31) {
  --star-tail-length: 6.21em;
  --top-offset: 88.29vh;
  --fall-duration: 6.231s;
  --fall-delay: 8.991s;
}

.star:nth-child(32) {
  --star-tail-length: 5.4em;
  --top-offset: 94.52vh;
  --fall-duration: 8.175s;
  --fall-delay: 1.566s;
}

.star:nth-child(33) {
  --star-tail-length: 6.68em;
  --top-offset: 92.47vh;
  --fall-duration: 7.208s;
  --fall-delay: 1.359s;
}

.star:nth-child(34) {
  --star-tail-length: 6.39em;
  --top-offset: 99.95vh;
  --fall-duration: 7.174s;
  --fall-delay: 8.194s;
}

.star:nth-child(35) {
  --star-tail-length: 5.85em;
  --top-offset: 85.4vh;
  --fall-duration: 8.26s;
  --fall-delay: 1.803s;
}

.star:nth-child(36) {
  --star-tail-length: 7.39em;
  --top-offset: 33.89vh;
  --fall-duration: 6.306s;
  --fall-delay: 9.282s;
}

.star:nth-child(37) {
  --star-tail-length: 7.2em;
  --top-offset: 55.93vh;
  --fall-duration: 8.056s;
  --fall-delay: 4.289s;
}

.star:nth-child(38) {
  --star-tail-length: 6.8em;
  --top-offset: 95.36vh;
  --fall-duration: 10.94s;
  --fall-delay: 5.211s;
}

.star:nth-child(39) {
  --star-tail-length: 6.24em;
  --top-offset: 14.96vh;
  --fall-duration: 10.64s;
  --fall-delay: 2.706s;
}

.star:nth-child(40) {
  --star-tail-length: 7.26em;
  --top-offset: 10.18vh;
  --fall-duration: 6.642s;
  --fall-delay: 6.733s;
}

.star:nth-child(41) {
  --star-tail-length: 5.88em;
  --top-offset: 28.46vh;
  --fall-duration: 9.891s;
  --fall-delay: 2.962s;
}

.star:nth-child(42) {
  --star-tail-length: 5.55em;
  --top-offset: 52.67vh;
  --fall-duration: 8.186s;
  --fall-delay: 3.5s;
}

.star:nth-child(43) {
  --star-tail-length: 7.16em;
  --top-offset: 31.44vh;
  --fall-duration: 6.993s;
  --fall-delay: 1.783s;
}

.star:nth-child(44) {
  --star-tail-length: 6.64em;
  --top-offset: 86.13vh;
  --fall-duration: 6.215s;
  --fall-delay: 9.832s;
}

.star:nth-child(45) {
  --star-tail-length: 6.18em;
  --top-offset: 38.04vh;
  --fall-duration: 7.999s;
  --fall-delay: 9.879s;
}

.star:nth-child(46) {
  --star-tail-length: 6.2em;
  --top-offset: 83.03vh;
  --fall-duration: 10.726s;
  --fall-delay: 0.254s;
}

.star:nth-child(47) {
  --star-tail-length: 5.84em;
  --top-offset: 99.44vh;
  --fall-duration: 9.365s;
  --fall-delay: 4.562s;
}

.star:nth-child(48) {
  --star-tail-length: 5em;
  --top-offset: 44.17vh;
  --fall-duration: 10.96s;
  --fall-delay: 0.723s;
}

.star:nth-child(49) {
  --star-tail-length: 5.76em;
  --top-offset: 96.34vh;
  --fall-duration: 6.955s;
  --fall-delay: 7.159s;
}

.star:nth-child(50) {
  --star-tail-length: 7.19em;
  --top-offset: 46.76vh;
  --fall-duration: 8.123s;
  --fall-delay: 2.32s;
}

.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
}

.star::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.star::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes fall {
  to {
    -webkit-transform: translate3d(-30em, 0, 0);
            transform: translate3d(-30em, 0, 0);
  }
}

@keyframes fall {
  to {
    -webkit-transform: translate3d(-30em, 0, 0);
            transform: translate3d(-30em, 0, 0);
  }
}

@-webkit-keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.6;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

.portfolio {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio h2 {
  color: #ffffff;
}

.portfolio .swiper-container {
  margin: 50px 0;
  width: 100%;
}

.portfolio .swiper-container .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.portfolio .swiper-container .swiper-wrapper .swiper-slide {
  width: 568px;
  min-width: 0;
  overflow: hidden;
  border-radius: 10px;
}

.portfolio .swiper-container .swiper-wrapper .swiper-slide .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 568px;
  height: 320px;
  overflow: hidden;
}

.portfolio .swiper-container .swiper-wrapper .swiper-slide .t-1 {
  background: url("../../assets/img/projects/gaming-campus.png") center/cover;
}

.portfolio .swiper-container .swiper-wrapper .swiper-slide .t-2 {
  background: url("../../assets/img/projects/hackaton.png") center/cover;
}

.portfolio .swiper-container .swiper-wrapper .swiper-slide .t-3 {
  background: url("../../assets/img/projects/immo.png") center/cover;
}

.portfolio .swiper-container .swiper-wrapper .swiper-slide .t-4 {
  background: url("../../assets/img/projects/montagne.png") center/cover;
}

.portfolio .swiper-container .swiper-wrapper .swiper-slide .t-5 {
  background: url("../../assets/img/projects/resto.png") center/cover;
}

.portfolio .swiper-container .swiper-wrapper .swiper-slide .t-6 {
  background: url("../../assets/img/projects/run.png") center/cover;
}

.swiper-container {
  overflow: hidden;
}

.swiper-slide {
  width: 568px;
}

.swiper-container-coverflow .swiper-wrapper {
  -ms-perspective: 1600px;
}

.swiper-container-3d {
  -webkit-perspective: 1600px;
  perspective: 1600px;
}

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-container-horizontal
> .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-container-horizontal
> .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
.swiper-pagination-bullet {
  -webkit-transition: 0.2s left, 0.2s -webkit-transform;
  transition: 0.2s left, 0.2s -webkit-transform;
  transition: 0.2s transform, 0.2s left;
  transition: 0.2s transform, 0.2s left, 0.2s -webkit-transform;
}

.swiper-container-horizontal.swiper-container-rtl
> .swiper-pagination-bullets-dynamic
.swiper-pagination-bullet {
  -webkit-transition: 0.2s right, 0.2s -webkit-transform;
  transition: 0.2s right, 0.2s -webkit-transform;
  transition: 0.2s transform, 0.2s right;
  transition: 0.2s transform, 0.2s right, 0.2s -webkit-transform;
}

#about {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about h2 {
  color: #ffffff;
}

#about p {
  text-align: center;
  color: #ffffff;
  margin: 0 150px;
}
/*# sourceMappingURL=style.css.map */