#about {
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h2 {
		color: $white;
	}

	p {
		text-align: center;
		color: $white;
		margin: 0 150px;
	}
}
