header {
	height: 100vh;
	color: $white;
	position: relative;

	// Positioning

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	#header {
		margin-bottom: 100px;
	}

	#divPresentation {
		animation: launchAnim 2s forwards;

		h1 {
			margin: 0;
		}
	}

	.networks {
		img {
			margin: 0 10px;
			height: 30px;
			width: 30px;

			&:hover {
				cursor: pointer;
			}
		}
		animation: launchAnim 2s forwards;
	}

	input[type="button"] {
		background-image: linear-gradient(
			to right top,
			#f6877c,
			#ff8f70,
			#ee7562,
			#f06a65,
			#f15e6b
		);
		color: $white;
		padding: 15px 50px;
		margin-top: 50px;
		border: 0px;
		border-radius: 25px;
		transition: 0.5s;

		animation: launchAnim 2s forwards;

		&:hover {
			cursor: pointer;
			box-shadow: 0 0 20px $red;
		}
	}

	@keyframes launchAnim {
		0% {
			transform: translateY(300px);
			opacity: 0;
		}
		100% {
			transform: translateY(0px);
			opacity: 1;
		}
	}

	#arrow-down {
		position: absolute;
		bottom: 25px;
		left: 50%;
		height: 50px;
		transform: translateX(-50%);
		animation: launchAnim2 2s forwards;
	}

	@keyframes launchAnim2 {
		0% {
			opacity: 0;
			transform: translate(-50%, 300px);
		}
		100% {
			opacity: 1;
			transform: translate(-50%, x0px);
		}
	}
}
