.scrollTop {
	position: fixed;
	height: 35px;
	width: 35px;
	bottom: 50px;
	right: 50px;
	z-index: 5;

	img {
		color: $white;
	}

	&:hover {
		cursor: pointer;
	}

	@media (max-width: 800px) {
		height: 25px;
		width: 25px;
		bottom: 25px;
		right: 25px;
	}
}
