@font-face {
	font-family: Raleway;
	src: url(../assets/fonts/Raleway-Regular.ttf);
}

$font-1: Raleway;

$white: #f0f2f0;
$dark: #1a1616;
$beige: #f5f0e1;
$darkblue: #1e3d59;

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: $font-1, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

	li {
		list-style: none;
	}
}
