.container {
	margin-top: 2em;
	color: $white;
}

.title-skills {
	font-size: 2em;
	margin-top: 4em;
	transition: all 400ms ease-in-out;
	margin: 4rem auto;
	text-align: center;
}

.bar {
	width: 40%;
	margin: 2em auto;
}

.skill {
	font-size: 0.8em;
	text-transform: uppercase;
	margin-bottom: 0.25em;
}

.speech-bubble {
	font-size: 0.75em;
	line-height: 2em;
	position: absolute;
	top: -2.7em;
	text-align: center;
	min-width: 3em;
	border-radius: 0.3em;
}

.html {
	left: calc(80% - 1.5em);
}

.jquery {
	left: calc(70% - 1.5em);
}

.fluent {
	left: calc(50% - 1.5em);
}

.photo,
.illustrator,
.indesign {
	left: calc(30% - 1.5em);
}

.sketch {
	left: calc(40% - 1.5em);
}

.speech-bubble:after {
	border: 0.5em solid transparent;
	content: "";
	margin-left: -0.5em;
	position: absolute;
	top: 100%;
	left: 50%;
}

.bar-outer {
	height: 1.25em;
	background: #eeeeee;
	position: relative;
	border-radius: 0.3em;
}

.bar-inner {
	width: 0;
	height: 1.25em;
	border-radius: 0.3em;
}

.ht,
.jq,
.sk,
.ph,
.il,
.in,
.fl {
	background: #f89d94;
}

.ht {
	width: 80%;
}

.jq {
	width: 70%;
}

.sk {
	width: 40%;
}

.ph,
.il,
.in {
	width: 30%;
}

.fl {
	width: 50%;
}

.html,
.jquery,
.sketch,
.photo,
.illustrator,
.indesign,
.fluent {
	background: #f6877c;
}

.html:after,
.jquery:after,
.sketch:after,
.photo:after,
.illustrator:after,
.indesign:after,
.fluent:after {
	border-top-color: #f6877c;
}
